@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background: #0b0b0f;
}

::selection {
  background: #f6cdb2;
  color: #0b0b0f;
}

/* scrollable but with no visible scrollbar (sidebar partition) */
.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* old Edge/IE */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

